@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #f5f5f5;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-image: url('./user_background_2.jpeg');
}

.navbar-brand {
  font-weight: 500;
  color: #fff;
}

.nav-link{
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
}

h2 {
  font-weight: 500;
  color: #3aaf9f;
  margin-bottom: 20px;
}

.search-input-container {
  display: flex;
  width: 100%;
  max-width: 500px;
  gap: 10px;
  margin-left: -20px;
}

.schedule-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
}

#schedule td {
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 30px;
}

.table-bordered th {
  border: 1px solid #dee2e6;
}

.table-primary {
  background-color: #0d6efd;
  color: #fff;
}

.table-primary:hover {
  background-color: #0a58ca;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
}

.mt-4{
  position: absolute;
  width: 40%;
  margin-left: 50%;
  margin-bottom: 50%;
}

.col {
  width: 48%;
}

.results-container {
  max-height: 820px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  position: relative;
  right: 4%;
}

.list-group-item {
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.course-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.course-block span {
  display: inline-block;
  padding: 2px 4px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 3px;
  font-size: 0.8rem;
  cursor: pointer;
}

.course-block span:hover {
  background-color: #0a58ca;
}

.btn-finalize{
  margin-top: 5%;
  border-radius: 5px;
  background-color: #3aaf9f;
  border: #3aaf9f;
  color: #fff;
  width: 30%;
  /* position: absolute; top: 370px;left: 50%; */
  transform: translateX(110%);
  height: 40px;
  font-size: 20px;
}

.btn-search{
  border-radius: 5px;
  background-color: #3aaf9f;
  border: #3aaf9f;
  color: #fff;
}

.btn-event{
  border-radius: 5px;
  background-color: #3aaf9f;
  border: #3aaf9f;
  color: #fff;
  height: 35px;
}

.event{
  width: 48%;
  margin-top: 10%;
}

.form-control{
  width: 180%;
}

